RewriteEngine On

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle main URLs
RewriteRule ^$ /huylo246 [R=301,L]
RewriteRule ^index\.html$ /huylo246 [R=301,L]
RewriteRule ^indexvn\.html$ /huylo246-vi-en [R=301,L]

# Ensure consistent URLs without trailing slashes
RewriteRule ^huylo246/$ /huylo246 [R=301,L]
RewriteRule ^huylo246-vi-en/$ /huylo246-vi-en [R=301,L]